<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()+'/'}"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script>
        var time = 10;

        var flag = true;

        function sendmail(ele) {
            var value = $("#username").val();
            if (value == '') {
                alert('用户名不能为空')
                return;
            }
            $.ajax({
                type: "get",
                url: "forget/sendMail",
                data: {"username": value},
                async: false,
                success: function (data) {
                    if (data.code == "200") {
                        //发送成功
                        flag = true;
                        var showMail = data.data.showEmail;
                        var toMail = data.data.toEmail;
                        $("#msg").html("邮件已经发送到您的" + showMail + "邮箱，请注意查收，<a target='_blank' href='http://" + toMail + "'>去邮箱</a>")
                    } else {
                        alert(data.msg);
                        flag = false;
                        return;
                    }
                },
                dataType: "json"
            });

            if (flag) {
                djs(ele)
            }

        }

        function djs(ele) {
            //设置按钮无效
            $(ele).attr("disabled", true);

            //倒计时
            var timer = window.setInterval(function () {
                $(ele).val("邮件已经发送，请等候(" + time + "s)")
                time--;
                if (time < 0) {
                    //清除定时器功能
                    $(ele).val("找回密码")
                    $(ele).attr("disabled", false)
                    clearInterval(timer)
                    time = 10;
                    return;
                }
            }, 1000)
        }
    </script>
</head>
<body>
<h1>忘记密码</h1>
<table>
    <tr>
        <td>账号:</td>
        <td>
            <input type="text" name="username" id="username"/>
            <span id="msg"></span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" onclick="sendmail(this)" value="找回密码"/>
        </td>
    </tr>
</table>
</body>
</html>